<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--	<bean id="mf" class="com.jame.config.MyFactoryBean">-->

<!--	</bean>-->

<bean id="a" class="com.jame.pojo.A"></bean>
	<alias name="a" alias="a1"/>
	<alias name="a" alias="a4"/>
	<alias name="a" alias="a3"/>
	<alias name="a" alias="a2"/>



</beans>